

@mixin commonForSmall {
    flex-wrap: wrap;

    div {
        flex-basis: 100%;
    }
}

@for $i from 1 through 5 {
    .block-#{$i} { background-color: hsl(0, 0, 10% * $i); }
}

.wrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;

    div {
        flex-basis: 25%;
        height: 50px;
        box-shadow: inset 0 0 0 1px #ededed;

        &:hover {
            box-shadow: inset 0 0 0 3px red;
        }
    }

    /* < 960 */
    &-medium {
        @include commonForSmall;

        div {
            flex-basis: 33.3%;
        }

        .block-1 {
            flex-basis: 66.6%;
        }
    }

    /* < 440 */
    &-small {
        @include commonForSmall;

        .block-3 {
            flex-basis: 40%;
        }

        .block-4 {
            flex-basis: 60%;
        }
    }
}
